html,
body {
  font-family: 'Mecrosoft YaHei';
  color: #333;
  background-color: #fff;
}
* {
  box-sizing: border-box;
  touch-action: none;
}

h1,h2,p,h3,ul {
  margin: 0;
}

ul {
  list-style: none;
}
html,
body,
#root,
.App {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
}